<!--app/templates/auth/email/confirm.txt一个电子邮件需要两个模板，分别用于渲染纯文本正文和富文本正文。纯文本模板-->
{% block title %}喵茶会注册确认{% endblock %}
{% block page_content %}
<div class="page-context">
    Dear {{ user.username }},
    Welcome to Catcafe.in!
    To confirm your account please click on the following link:
    {{ url_for('auth.confirm', token=token, _external=True) }}
    Sincerely, The CatCafeIn Team
    Note: replies to this email address are not monitored.
</div>
{% endblock %}

<!--_external=True 参数要求程序生成完整的 URL，其中包含协议(http:// 或 https://)、主机名和端口 -->



<!--分页导航-->
{% include '_posts.html' %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>

