html {
    word-break: break-word;
    /*Helvetica*/
    color: #222;

}

body {
    font-family: "Menlo", "Meslo LG", monospace;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    overflow-y: scroll;
    font-weight: 400;
    font-size: 14px;
    -webkit-font-smoothing: antialiased; /*移动端抗锯齿渲染*/
    text-rendering: optimizeLegibility /*侧重文本可读性*/
}


/*body::before{*/
/*    background: no-repeat  center url("../static/images/bg1.jpg") fixed; !*图像不会随着页面滚动*!*/
/*     z-index: -1;!*背景图置于body最底层*!*/
/*    background-size: cover;!*背景图片全部展开，但是会在底部留下白屏*!*/
/*    !*opacity: 0.3;*!*/
/*    !*position: fixed;*!*/
/*    top: 5rem;*/
/*    right: 5rem;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    box-sizing: border-box;*/
/*    webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*}*/
body:before {
    content: " ";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../static/images/bg1.jpg") center 0 no-repeat;
    background-size: cover;
    opacity: .3;
}

/** {*/
/*    margin: 0 auto; !*网页居中*!*/
/*    padding: 0; !*网页边距*!*/
/*}*/


/*.app {*/
/*    min-height: 100%;*/
/*    position: relative;*/
/*}*/


/*导航栏*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /*width: 110%;*/
    z-index: 20;
    height: 3.6rem;
    background-color: #fff;
    border-bottom: 1px solid #eaecef;
    box-sizing: border-box;
    padding: .7rem 1.5rem;
    line-height: 2.2rem;
}

.navbar .links {
    padding-left: 1.5rem;
    box-sizing: border-box;
    background-color: #fff;
    white-space: nowrap;
    font-size: .9rem;
    position: absolute;
    right: 1.5rem;
    top: .7rem;
    display: flex;
}

.navbar .links .search-box {
    flex: 0 0 auto;
    vertical-align: top;
}

@media (max-width: 1200px) {
    .search-box {
        margin-right: 0;
    }

}

.search-box {
    display: inline-block;
    position: relative;
    /*margin-right: 1rem;*/
}

.search-box input {
    cursor: text;
    width: 10rem;
    color: #4e6e8e;
    display: inline-block;
    border: 1px solid #cfd4db;
    border-radius: 2rem;
    font-size: .9rem;
    line-height: 2rem;
    padding: 0 .5rem 0 2rem;
    outline: none;
    transition: all .2s ease;
    background: #fff url("../static/images/search.svg") .6rem .5rem no-repeat;
    background-size: 1rem;
}

@media (max-width: 1200px) {
    .search-box input {
        cursor: pointer;
        width: 0;
        border-color: transparent;
        position: relative;
    }
}

.navbar .links .nav-links {
    flex: 1;
}

.nav-links {
    display: inline-block;
}

.nav-links .nav-item {
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
    line-height: 2rem;
}

.nav-links a {
    line-height: 1.4rem;
    color: inherit;
}

.navbar a {
    display: inline-block;
}


@media (min-width: 1200px) {

    .nav_content {
        width: 720px;
    }
}

.page {
    padding: 2rem;
}

.page {
    padding-left: 20rem;
    padding-bottom: 2rem;
}

@media (min-width: 1200px) {
    .page {
        padding-left: 320px;
    }

}

@media (max-width: 1200px) {
    .page {
        padding-left: 0;
    }

    .page_content {
        padding: 2rem;
    }

}


.iconpic {
    display: inline-block;
    color: #252526;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: cover;
}

/*导航栏被分成3*/
.logo {
    width: 8rem;
    height: 3.6rem;
    background-image: url("../static/images/logo_ex.png");
    background-position: 0 .75rem;
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 2.75rem;
    /*left: 0.5rem;*/
    margin-left: 0.5rem;
    text-align: center;
    display: inline-block;
    position: absolute;


}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: inherit;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
    position: absolute;


}


.menu {
    width: 1.25rem;
    height: 1.25rem;
    left: 0.5rem;
    padding: .6rem;
    position: absolute;
    line-height: 2.75rem;
    text-align: center;
    display: none;
    top: .6rem;
    left: 1rem;
}

.menu .icon {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
}


/*移动端100%*/
@media (max-width: 1200px) {
    .menu {
        display: block;
    }

    /*导航栏隐藏掉*/
    .sidebar_active .sidebar {
        transform: translateX(0);
    }
}


@media (min-width: 1200px) {
    .page_content {
        width: 720px;
    }

    .page_content {
        margin: 0 auto;
        width: 720px;
    }
}

/*导航栏头像*/
#nav_img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    transition: all 2.0s; /*属性变换2s内完成*/

}

/*导航栏头像旋转*/
#nav_img:hover {
    transform: rotate(360deg);
}

/*导航栏退出样式*/
#nav_auth_success a {
    color: white;
}


/*侧边栏*/
.sidebar {
    /*transition: all 0.4s; *!*/
    width:320px;
    height: 100%;
    left: 0;
    border-right: 1px solid #eaecef;
    /* box-shadow: inset 0 2px 6px #999; */
    /*background: #ffffff;*/
    background: rgba(0, 0, 0, 0);
    font-size: 15px;
    position: fixed;
    z-index: 10;
    margin: 0;
    top: 3.6rem;
    bottom: 0;
    box-sizing: border-box;
    overflow-y: auto;

}

.sidebar.sidebar_active {
    left: 0;
}

.sidebar_inner {
    color: #999;
    padding: 20px 10px;
    /*text-align: center;*/
}

.sidebar_heading {
    color: #999;
    transition: color .15s ease;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
    padding: 0 1.5rem;
    margin-top: 0;
    margin-bottom: .5rem;
}


/*侧边栏首页具体内容*/
/*作者*/
.author_image {
    /*border: 2px solid #428bca;*/
    box-shadow: 0 7px 28px #eee;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 96px;
    padding: 2px;
    border-radius: 50%;
    /*border-radius: 300px;*/
    opacity: 1;
    -webkit-transition: all .2s ease-in;
    border: 0;
    vertical-align: middle;
    /*max-width: 100%;*/
}

sup {
    font-size: 12px;
    background: #f09199;
    line-height: 30px;
    padding: 4px;
    border-radius: 8px;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, .7) 0 0 -1px;
    top: -80px;
    left: 40px;
    position: relative;
}


.author_name {
    color: #428bca;
    font-weight: normal;
    margin: 5px 0 0;
    text-align: center;
}


/*侧边栏移动端默认隐藏*/
@media (max-width: 1200px) {
    .sidebar {
        display: none;
        /*导航栏隐藏掉*/
    }

}

/*日志*/
.site_state {
    display: flex;
    justify-content: center;
    line-height: 1.4;
    /*margin-top: 10px;*/
    /*overflow: hidden;*/
    /*text-align: center;*/
    /*white-space: nowrap;*/
    /*max-width: 200px;*/
}

.site_state_item {
    padding: 1rem 0.5rem;
}


.site_state_item a {
    border-bottom: none;
}

.sidebar a {
    border-bottom-color: #555;
    color: #999;
    outline: 0;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    cursor: pointer;
    /*background: transparent;*/
}

.site_state_item_count {
    color: inherit;
    display: block;
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
}

.site_state_item_name {
    color: inherit;
    font-size: 0.875em;
}


.btn {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    display: inline-block;
    color: #f09199;
}

footer {
    padding: 2px 1px;
    color: #999;
    /*float: left;*/
    font-size: 14px;
    /* overflow: hidden; */
    /* text-align: center; */
    /* white-space: nowrap; */
}

.footer span {
    color: #f09199;
}

/*全站链接样式*/
a {
    text-decoration: none;
}

a:link, a:active, a:visited {
    color: #F09199
    /*锚链接颜色 #42ABB3;*/
}

/*flash 多种样式*/
.alert-info {
    margin: 1rem 0;
    padding: 1rem;
    color: #fff;
    background-color: #17a2b8;
    border: 0.25rem solid #0084B4;

    border-radius: 0.25rem;
}

.alert-success {
    margin: 1rem 0;
    padding: 1rem;
    color: #fff;
    background-color: #28a745;
    border: 0.25rem solid #91b876;
    border-radius: 0.25rem;
}

.alert-warning {
    margin: 1rem 0;
    padding: 1rem;
    color: #fff;
    background-color: #ffc107;
    border: 0.25rem solid #ffc107;
    border-radius: 0.25rem;
}


/*main_content*/
/*#content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    position: relative;*/
/*    margin-top: 5em;*/
/*    max-width: 720px;*/
/*}*/
/*#page_content{*/
/*            flex: 1;*/
/*            display:block;*/
/*            text-align:center;!*面板居中*!*/
/*            width:80%!*web端尺寸*!*/
/*            }*/
#nav_content {
    display: none;
}


/*导航内容底部样式*/
/*搜索框样式*/
#search_box {
    padding: 0px;
    border: 1px solid #DDD;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.8);
    margin: 30px;
}

#SearchForm {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    max-width: 720px;
    min-width: 100%;

}

#search_text {
    flex: 1; /*自适应大小*/
    height: 29px;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    border: none; /*border: 0;*/
    background: none;
    box-shadow: none;
    -webkit-appearance: caret;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#searchBtn {
    margin-left: 10px;
    margin-right: 12px;
    background-size: 20px 20px;
    background-color: white;
    border: none; /*border:0;*/
    cursor: pointer;
}


#tag_list span {
    float: right;
}

#nav_content li {
    padding: 12px;
    list-style-type: none;
}


/*面板样式*/
#SigninPanel, #SignupPanel, #PostPanel, #ProfilePanel {
    border: none;
    margin: 3rem auto;
}

h4 {
    color: #f09199;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    line-height: 2.5rem;
}

/*表单样式*/
#SignupForm, #SigninForm, #PostForm, ProfileForm, #other_link {
    margin: auto 1rem;
    padding: 0.5rem 0.5rem;
}

/*输入框整体样式*/
.input, .textarea {
    border: 0;
    vertical-align: baseline; /*设置对齐方式*/
    margin-top: 0.5rem; /*相对于字体大小 */
    /*输入框宽度 分web端和移动端*/
    max-width: 100%;

}

/*按钮*/
.button {

    border-radius: 0.5rem;
    border: 0.1rem solid #F09199;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background: #F09199;
    color: #FFF;
    cursor: pointer;
    width: 98%;
    line-height: 2.5rem;
}


/*user页面样式*/
div #ProfilePanel {
    margin-bottom: 120px;
}

div #user_avaster {
    margin-top: 120px;
}

div #profile_img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

div #user_info {
    max-width: 80%;
    height: 68px;
    color: #17a2b8;
}

a #edit {
    font-size: 10px;
}


/*日志整体样式*/
h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 46px;
    margin-left: 12px;
}

/*日志分组样式*/
.cal {
    display: inline-block;
    padding: 2px 0;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background: #F09199;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.cal i {
    position: relative;
    font-style: normal;
    display: block;
    box-sizing: border-box;
}

.month {
    text-transform: uppercase;
    font-size: 0.625rem;
    top: 2px;
    box-sizing: border-box;
}

.day {
    font-weight: 600;
    font-size: 1.125rem;
    box-sizing: border-box;
}

.date {
    display: -webkit-box;
}

.date small {
    display: inline-block;
    position: relative;
    top: -5px;
    /*margin-bottom: 10px;*/
    /*margin-left: 16px;*/
    line-height: 30px;
    font-weight: 600;
    color: #F09199;

}

ul.post_group {
    margin: 12px;
    list-style: none; /*去掉○点*/
}

li.post_item {
    display: flex;
}

.post_info {
    float: left;
    width: 90%;
}

.post_meta {
    float: right;
}


.post_info h2 {
    font-size: 2em;
    font-weight: 200;
    line-height: 1.4;
    color: #8acfbd;
    text-align: left; /*标题居左*/
}

/*虚线分割*/
hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
}


/*日志详情页*/
.post_author {
    display: inline-block;
}

.post_date {
    display: inline-block;
}


#create_post {
    content: "\E60E";
}


input #add_tag {
    display: inline-block;
    color: #7490b9;
    height: 28px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 28px;
    border-radius: 4px;
    border: 1px solid rgba(116, 144, 185, 0.3);
    background-color: white;
    width: 4%;
    float: left;
}

.tag {
    font-size: 14px;
    line-height: 30px;
    border-radius: 2px;
    transition: all .2s ease;
    padding: 0 10px;
    text-align: left;
    background-color: #f0f4fa;
    color: #7490b9;
    box-sizing: border-box;
}


