html {
    word-break: break-word;
    color: #555;
}

body {
    font-family: "Microsoft YaHei", 'Gloria Hallelujah';

    /*font-family: 'Gloria Hallelujah',BlinkMacSystemFont,"Microsoft YaHei","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Menlo", "Meslo LG", monospace;*/
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased; /*移动端抗锯齿渲染*/
    text-rendering: optimizeLegibility /*侧重文本可读性*/
}


body:before {
    content: " ";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../static/images/bg2.jpg") center 0 no-repeat;
    background-size: cover;
    opacity: .5;
    /*height: 100vh;*/
    width: 100%;
}


* {
    margin: 0;
    padding: 0;
}


/* 面包屑 */
.code-breadcrumb {
    position: relative;
    border-bottom: 1px solid #ddd;
    /*background: #fff;*/
    background-color: hsla(0, 0%, 100%, .65);
}

.code-breadcrumb .code-breadcrumb-list {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    height: 20px;
    white-space: nowrap;
}

.code-breadcrumb .code-breadcrumb-list ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    min-width: 100%;
    height: 20px;
    box-sizing: border-box;
    line-height: 1;
}

.code-breadcrumb .code-breadcrumb-list ul li {
    position: relative;
    height: 20px;
    border-right: 1px solid #ddd;
}

.code-breadcrumb ul, .code-breadcrumb li {
    list-style: none;
}

.code-breadcrumb span, .code-breadcrumb ul, .code-breadcrumb li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #fff;
    -webkit-text-decoration-skip: none;
}

.code-breadcrumb .code-breadcrumb-list ul li::before {
    position: absolute;
    top: 50%;
    right: -13px;
    width: 0;
    height: 0;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 6px solid #ddd;
    content: '';
}

.code-breadcrumb .code-breadcrumb-list ul li::after {
    position: absolute;
    top: 50%;
    right: -12px;
    width: 0;
    height: 0;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 6px solid #fff;
    content: '';
}


.code-breadcrumb .code-breadcrumb-list ul li a, .code-breadcrumb .code-breadcrumb-list ul li span {
    display: block;
    overflow: hidden;
    padding: 1px 4px 0 11px;
    box-sizing: border-box;
    color: #666;
    font-size: 10px;
    line-height: 20px;
    text-decoration: none;
}

.code-breadcrumb a {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    vertical-align: baseline;
    outline: none;
}


/* 个人状态条 */
.user_bar {
    position: fixed;
    /*left: 30%;*/
    /*top: 50%;*/
    top: 0.75rem;
    left: 0.75rem;
    width: 10rem;
    height: 48px;
    border-radius: 48px;
    z-index: 200;
    background-color: #fff;
    /*border:none;*/
    /*border: 2px #fff solid;*/
    box-shadow: 1px 1px 5px 5px rgba(216, 112, 117, 0.35);
    -moz-box-shadow: 1px 1px 5px 5px rgba(216, 112, 117, 0.35);
}


.user_bar .user_image {
    margin: 0;
    padding: 0;
    float: left;
}


.user_bar .user_image .avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.user_bar .user_content {
    padding-top: 0.25rem;

    padding-left: 3.25rem;
}


.user_bar .user_content .text h3,
.user_bar .user_content .text h6 {
    white-space: nowrap;
    font-family: GuDianMingChaoTi;
}


code {
    background-color: #F09199;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
    /*   margin: 0 5px;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15), 1px 1px 8px rgba(0, 0, 0, 0.15); */
}


* {
    font-family: "Roboto", sans-serif;
}


/* 浏览框-内容变化区 */
.code-container {
    margin: 0 auto;
    max-width: 750px;
    margin-top: 3.5rem;
    padding: 0.75rem;
}

.code {
    /*font-family: Source Code Pro;*/
    /* font-family: 'Press Start 2P'; */
    /* font-family: cursive; */
    /* font-family: 'Hack', monospace; */
    /* border: 2px solid #b9b9b9; */
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 5px 5px rgba(216, 112, 117, 0.35);
    -moz-box-shadow: 1px 1px 5px 5px rgba(216, 112, 117, 0.35);
}

.code .code-header {
    padding: 0.5em 0 0.5em 0.5em;
    -webkit-border-radius: 10px 10px 0 0;
    /*     height: 2em; */
    /* border-bottom: 2px solid #b9b9b9; */
}

/* .dark-mode {
    background-image: linear-gradient(180deg, #464248 0%, #3b383d 100%);
    border-bottom: 1px solid rgba(66, 66, 66, 0.5);
} */
.dark-mode {
    background-color: #F09199;
    border-bottom: 1px solid #d8707517;
}

/*.code .code-header .circle {*/
/*    display: inline-block;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    border-radius: 50%;*/
/*    !* border: 2px solid #b9b9b9; *!*/
/*}*/

/*.close {*/
/*    background-color: #fa615c;*/
/*}*/

/*.min {*/
/*    background-color: #ffbd48;*/
/*}*/

/*.max {*/
/*    background-color: #3fc950;*/
/*}*/

.location {
    color: #ffffff;
    text-align: center;
    display: inline-block;
}

.code-body {
    /*     background-color: rgba(0, 0, 0, 0.62); */
    background-color: hsla(0, 0%, 100%, .65);
    -webkit-border-radius: 0px 0px 10px 10px;
}


/* 顶部导航 */

.topbar {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2.75rem;
    z-index: 200;
    /*display: inline-flex;*/
}

/*web端样式配置*/
@media screen and (min-width: 769px) {

    .app {
        width: 750px;
        margin: 0 auto
    }

    .topbar {
        width: 750px;
    }
    .navbar {

        width: 750px;
    }

    .user_bar {
        left: 30%;
    }
}


/*移动端样式配置*/
@media screen and (max-width: 767px) and (min-width: 320px) {
    .app {
        width: 100%;
        margin: 0 auto;
    }

    .topbar {
        width: 100%;
    }
    .navbar {

        width: 100%;
    }

    .user_bar {
        left: 0.75rem;
    }

}

/* 追加顶部导航搜索 */
/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*.searchform {*/
/*    display: block;*/
/*    margin: 0;*/
/*    overflow: hidden;*/
/*    width: 50%;*/
/*}*/

/*label,*/
/*input {*/
/*    vertical-align: baseline;*/
/*    color: #fff;*/
/*}*/

/*input::-webkit-input-placeholder {*/
/*    color: #fff;*/
/*    font-size: 14px;*/
/*}*/

/*!* Mozilla Firefox 4 to 18 *!*/
/*input:-moz-placeholder {*/
/*    color: #fff;*/
/*    opacity: 1;*/
/*    font-size: 14px;*/
/*}*/

/*!* Mozilla Firefox 19+ *!*/
/*input::-moz-placeholder {*/
/*    color: #fff;*/
/*    opacity: 1;*/
/*    font-size: 14px;*/
/*}*/

/*!* Internet Explorer 10+ *!*/
/*input:-ms-input-placeholder {*/
/*    color: #fff;*/
/*    font-size: 14px;*/
/*}*/

/*label {*/
/*    margin: 0.125em 0.125em 0 0;*/
/*    float: right;*/
/*}*/

/*input[type="search"] {*/
/*    border: 2px solid #fff;*/
/*    border-width: 0 0 2px;*/
/*    background-color: transparent;*/
/*    font: 22px "Open Sans", sans-serif;*/
/*    padding: 0.125em 0.225em;*/
/*    float: left;*/
/*}*/

/*input[type="search"]:focus {*/
/*    color: #fff;*/
/*    border-color: #fff;*/
/*    outline: none;*/
/*}*/

/*!* 顶部导航icon设置 *!*/
/*.topbar_icon {*/
/*    padding: 0.4rem;*/
/*    margin: 0.1rem;*/
/*    vertical-align: middle;*/
/*    background-color: #fff;*/
/*    border-radius: 50%;*/
/*    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15), 1px 1px 8px rgba(0, 0, 0, 0.15);*/
/*}*/

/*.topbar_icon.voice {*/
/*    float: left;*/
/*}*/

/*.topbar_icon.more {*/
/*    float: right;*/
/*}*/

/*.topbar_icon svg {*/
/*    display: inline-block;*/
/*    pointer-events: none;*/
/*    position: relative;*/
/*    vertical-align: middle;*/
/*    width: 1.5rem;*/
/*    height: 1.5rem;*/
/*    fill: rgba(0, 0, 0, 0.3);*/

/*}*/

/* 追加底部导航 */

.line {
    width: 320px;
    height: 10px;
    border: solid 2px #f09199;
    border-color: #f09199 rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1) transparent;
    border-radius: 99.9%/100px 100px 0 0;
    margin: 0 auto;
}
.tra {
    position: relative;
    margin: 0 auto;
    margin-bottom: -10px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid #f09199;

}


.nav_item {
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 50%;
    background-color: #f09199;
    /*color: pink;*/
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
}

.nav_item .icon {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    left: 50%;
}


.navbar {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;

}

.nav_items {

    display: flex;
    justify-content: center;

}


.page_content {
    margin: 0 auto;
    padding: 0.75rem;
}



/* 链接样式 */
a {
    color: pink;
    text-decoration: none;
}