{% extends "base.html" %}
{% block title %}{{ post.post_title }}{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        {#日志样式 header＋content#}
        #post_header_info {
            font-size: .75rem;
            line-height: 1.25rem;
            color: #939393;
            text-align: left;
            margin-left: 12px;
        }

        #post_header_info a {
            color: #4fa949
        }

        .post_content {
            font-size: 18px;
            line-height: 28px;
        }

        .post_date {
            font-size: 16px;
        }

        {#div#share_weibo {#}
        {#    display: inline-block;#}
        {##}
        {#div#share_wechat {#}
        {#    display: inline-block;#}
        {##}
        {#div#share {#}
        {#    float: right;#}
        {#    margin-right: 12px;#}

        {#.tag_list {#}
        {#    text-align: left;#}
        {#    margin-left: 12px;#}

        /*日志评论样式*/

        .cm_panel {
            border: 1px solid #f0f0f0;
            padding: 10px;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
        {#font-size: 1.5rem;#}{#line-height: 2.5rem;#} background-color: rgba(255, 255, 255, 0.65);
            vertical-align: baseline; /*设置对齐方式*/
            margin-top: 0.5rem; /*相对于字体大小 */
            /*输入框宽度 分web端和移动端*/
            max-width: 100%;
            margin-bottom: 10px;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            color: #808080;
        }

        {#评论框#}
        .textarea {
            width: 100%;
            min-height: 8.75em;
            font-size: .875em;
            background: transparent;
            resize: vertical;
            -webkit-transition: all .25s ease;
            transition: all .25s ease;
        }


        {#评论列表样式#}


        .comment_count {
            font-weight: 600;
            font-size: 1.25em;
        }


        .smile_btn {
            background: 0 0;
            border: 0;
            line-height: 2;
            padding: 0 .5em;
            pointer-events: auto;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
        }


        .cm_commit_body {
            margin-left: 40px;
        }


        .cm_input {
            margin: 0 0 10px;
        }

        {#输入框样式#}
        .cm_input textarea {
            height: 23px;
            margin: 0px;
            padding: 5px 2px 0px 6px;
            border-style: solid;
            border-width: 1px;
            font-size: 12px;
            overflow-wrap: break-word;
            line-height: 18px;
            overflow: hidden;
            outline: none;
            border-color: #cccccc;
            color: #919191;
            text-decoration: none;
            width: 98%;
            overflow-y: visible;
        {#ie自动变化高度#} resize: none;


        }

        {#评论按钮设定#}
        .submit_btn {
            text-align: left;
            float: right;
            background-color: #28a745;
            color: white;
        }

        {#颜文字设定#}
        .smile_btn {
            background: 0 0;
            border: 0;
            line-height: 2;
            padding: 0 .5em;
            pointer-events: auto;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            position: absolute;
        }


        {#头像设置#}
        .user_face img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }

        .user_face {
            position: relative;
            float: left;
            margin-right: 6px;
        }


        {#评论表情包#}
        .face-panel {
            position: absolute;

            z-index: 100;
            top: 35px;
            left: 0;
            box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .1);
            border: 1px solid #e9e9f0;
            display: none;
        {#显示隐藏开关#}
        }

        .face-panel:after {
            position: absolute;
            top: 0;
            left: 40px;
            content: "";
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            width: 12px;
            height: 12px;
            background: #fff;
            border: 1px solid;
            border-color: transparent transparent #e9e9f0 #e9e9f0;
            border-radius: 3px;
        }

        ._box {
            box-sizing: border-box;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
            background-color: #fff;
            border-radius: 6px;
        }

        .face-list-wrap {
            padding: 20px;
            width: 531px;
            height: 185px;
        }

        .face-list-wrap .face-list {
            border-top: 1px solid #fce4ec;
            border-left: 1px solid #fce4ec;
            overflow: hidden;
            box-sizing: content-box;
        }

        ul {
            list-style: none;
        }

        .face-list .item {
            box-sizing: border-box;
            display: block;
            float: left;
            width: 98px;
            line-height: 28px;
            text-align: center;
            border-right: 1px solid #fce4ec;
            border-bottom: 1px solid #fce4ec;
            color: #252526;
            cursor: pointer;
        }

        .face-panel .tab-controls {
            height: 40px;
            background-color: #f5f5fa;
            display: -webkit-box;
            display: flex;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .tab-controls .tab-ctr.active {
            background-color: #fff;
        }

        .tab-controls .tab-ctr {
            text-align: center;
            line-height: 40px;
            height: 40px;
            width: 65px;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
        }


        {#tag style#}

        .post_item_catalog {
            margin-right: 16px !important;
            margin-left: 0 !important;
        }

        .catalog_color {
            position: relative;
            top: 1px;
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #f09199;
        }

        .catalog_name {
            font-size: 14px;
        }


        {#底部导航#}
        .page-nav {
            padding-top: 1rem;
            padding-bottom: 0;
            max-width: 740px;
            margin: 0 auto;
            padding: 2rem 2.5rem;
        }

        .page-nav .next {
            float: right;
        }

        .page-nav .inner {
            min-height: 2rem;
            margin-top: 0;
            border-top: 1px solid #eaecef;
            padding-top: 1rem;
            overflow: auto;
        }


        {#heheda#}
        .comment_list {
            margin: 3rem 0;
        }

        .comment_list > .comment {
            padding: .5rem 0 .5rem .5rem;
        }

        .comment {
            margin: 1rem 0;
            border-radius: .35rem;
        }

        .comment_avatar img {
            border-radius: 50%;
            width: 45px;
            height: 45px;
        }

        .comment_main {
            display: flex;
        }

        .comment_left {
            float: left;
            width: 60px;
        }

        .comment_right {
            float: right;
            width: calc(100% - 60px);
        }

        .comment_author {
            font-size: 1.05rem;
            line-height: 2.5rem;
            margin-right: 10px;
        }

        .comment_date {
            color: #999;
            font-size: .875rem;
        }

        .comment_content {
            padding: .5rem 0;
        }

        .comment_content p {
            color: #222;
            font-size: .95rem;
            white-space: pre-line;
        }

        .comment_reply {
            float: right;
            font-size: .8rem;
        }

        .comment_reply_to {
            color: #222;
            margin-right: 10px;
            font-size: .875rem;
        }


    </style>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        document.querySelector('#body').addEventListener('input', function (e) {
            e.target.style.height = 'auto';
            e.target.style.height = this.scrollHeight + 'px';
            // this.style.height = 'auto';
            // this.style.height = this.scrollHeight + 'px';
        })
    </script>
{% endblock %}
{% block sidebar %}
    <ul class="article_chapters">
    <li>
        <div class="article_header">
            <p><span>{{ post.post_title }}</span></p>
            <ul class="chapter_list">
                <div>→</div>
                <li><a href="/post/1/#前言" class="chapter_link"> 前言</a></li>
                <li><a href="/post/1/#语言环境" class="chapter_link">语言环境</a></li>
                <li><a href="/post/1/#步骤" class="active chapter_link">步骤</a></li>
            </ul>


        </div>
    </li>
    <div class="sidebar-group collapsable">
        <p class="sidebar-heading open">
            <span><a href="/post/我的swift不可能这么萌/" class="sidebar-link"># 我的swift不可能这么萌</a></span>
        <li><a href="/post/我的swift不可能这么萌/chapter1/all.html" class="sidebar-link">我的swift不可能这么萌3</a></li>

        <span class="arrow down"></span>
        </p>
        <ul class="sidebar-group-items">
            <li><a href="/post/我的swift不可能这么萌/chapter1/01.html" class="active sidebar-link">Html form
                select下拉列表菜单与跳转菜单表单标签篇</a>
                <ul class="sidebar-sub-headers">
                    <li class="sidebar-sub-header">
                        <a href="/post/我的swift不可能这么萌/chapter1/01.html#网络、ip和域名"
                           class="active sidebar-link">前言</a></li>
                    <li class="sidebar-sub-header">
                        <a href="/post/我的swift不可能这么萌/chapter1/01.html#数据传输"
                           class="sidebar-link">语言环境</a></li>
                    <li class="sidebar-sub-header">
                        <a href="/post/我的swift不可能这么萌/chapter1/01.html#页面跳转"
                           class="sidebar-link">步骤</a></li>
                </ul>
            </li>
            <li><a href="/post/我的swift不可能这么萌/chapter1/02.html" class="sidebar-link">嘿！你的奥利奥利奥 23388888
            </a></li>
        </ul>
    </div>

{% endblock %}
{% block page_content %}
    <article class="post">
        <div class="post_header">
            <h1>{{ post[1] }}</h1>
            <div class="post_header_info" id="post_header_info">
                <div class="post_date">
                    {#{{ moment(post.post_timestamp).fromNow() }}#}
                    {# {{ post['post_timestamp'].strftime('%Y-%m-%d') }} #}
                    Written by <a href="/">Onlyindex</a> with ♥ In
                    <span class="post_item_catalog">
                        <span class="catalog_color"></span>
                        <span class="catalog_name">我的swift不可能这么萌</span>
                    </span>{{ post[3] }}
                </div>
                {#            <div>#}
                {#            <a style="color: #5a84b3" class="action" href="{{ url_for('post.update', post_id=post['post_id']) }}">编辑</a>#}
                {#            <a style="color: #5a84b3" class="action" href="{{ url_for('post.delete', post_id=post['post_id']) }}">删除</a>#}
                {#            </div>#}
                {#                <div id="share">#}
                {#                    分享到#}
                {#                    <div id="share_weibo">#}
                {#                        <a title="扫码分享到微信" href="#">#}
                {#                            <i src="#"></i>#}
                {#                            <span>微博</span>#}
                {#                        </a>#}
                {#                    </div>#}
                {#                    <div id="share_wechat">#}
                {#                        <a title="分享到微博" href="#">#}
                {#                            <i src="#"></i>#}
                {#                            <span>微信</span>#}
                {#                        </a>#}
                {#                    </div>#}
                {##}
                {#                </div>#}
            </div>
        </div>

        <div class="post_content">
            <div>
                {{ post[2] }}
                <h1 id="1"># 前言</h1>
                <p>因为班群里总是挺静的，所以想着要不放个机器人试试能不能活跃活跃气氛，然后就begin网上查阅资料试着建立个机器人。
                    <br></p>
                <h1 id="directory0400571130604497672">语言环境</h1>
                <blockquote>开发环境：Ubuntu16.04<br>
                    编程语言：Python2.7
                </blockquote>
                <h1 id="directory0400571130604497673">步骤</h1>
                <ul>
                    <li># 第一步：首先安装python2.7语言</li>
                </ul>
                <p><code>sudo apt-get install python2.7</code><br>
            </div>
            <p>本文链接：<a href="http://www.eyrefree.org/2015/05/31/2015-05-31-WordPress-Notes/">http://www.eyrefree.org/2015/05/31/2015-05-31-WordPress-Notes/</a>
            </p>
            <p>如文中无特殊说明，本站均使用以下协议保护：<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/cn/" target="_blank"
                                       rel="noopener">署名-非商业性使用-禁止演绎</a></p>

        </div>
        {#                <div class="like">#}
        {#                    <div class="author">#}
        {#                        <a><img id="post_author" src="{{ url_for('static',filename='static/images/myself.jpg') }}"></a>#}
        {#                    </div>#}
        {#                    <button>like</button>#}
        {#                </div>#}
        {##}
        {##}
        {#                <div class="post_bottom">#}
        {#                    <div class="tag_list">#}
        {#                        {% for tag in tags %}#}
        {#                            <a class="tag">{{ tag[0] }}</a>#}
        {#                        {% endfor %}#}
        {#                    </div>#}
        {#                </div>#}

        <span class="post_item_tag">
            <span class="tag_color"></span>
            <span class="tag_name">Tag1</span>
        </span>
        <div class="page-nav">
            <p class="inner">
                <span class="prev">←
                    <a href="/book/proguide/" class="prev router-link-active">前言</a>
                </span>
                <span class="next">
                    <a href="/book/proguide/vol2/w11.html" class="">#步骤</a>
                    →
                </span>
            </p>
        </div>

        <div class="post_comments">
            <div>
                <form method="post" action="{{ url_for('post.post_comment_add',post_id=post['post_id']) }}">
                    {% if g.user %}
                        <div class="cm_commit">
                        <div class="cm_user">
                            <a class="user_face" target="_blank" href="">
                                {#  {{ g.user['username'] }}#}
                                <img src="https://tvax4.sinaimg.cn/crop.0.0.960.960.50/88a66b96ly8g7ymas65crj20qo0qomz5.jpg?KID=imgbed,tva&amp;Expires=1576043955&amp;ssig=QYUz13c%2FoV"
                                     user_id="user_id">
                            </a>
                        </div>
                        <div class="cm_commit_body">
                            <div class="cm_input">
                                <textarea rows="2" name="body" id="body" placeholder="灌水唠嗑" required></textarea>
                            </div>
                            <div class="cm_submit">
                                <button class="submit_btn" action="" href="#">評論</button>
                                <div class="smile_btn">
                                    <a href="#" title="表情" alt="表情">
                                        ฅTㅅTฅ
                                    </a>
                                    <div>
                                        <div class="_box face-panel">
                                            <div class="face-list-wrap">
                                                <ul class="face-list">
                                                    <li class="item">(。・∀・)ノ゛</li>
                                                    <li class="item">(TωT)</li>
                                                    <li class="item">(･ω-｡)</li>
                                                    <li class="item">ヾ(≧∇≦*)</li>
                                                    <li class="item">ヾ(ﾟ∀ﾟ○)ﾂ</li>
                                                    <li class="item">ヽ(*´Д｀*)ﾉ</li>
                                                    <li class="item">(；ω；｀)</li>
                                                    <li class="item">(/ω＼*)</li>
                                                    <li class="item">(●＾U＾●)</li>
                                                    <li class="item">(｡ゝω･)bﾞ</li>
                                                    <li class="item">(;´ρ`)</li>
                                                    <li class="item">（´・ω・｀）</li>
                                                    <li class="item">∑(ﾟωﾟﾉ)ノ</li>
                                                    <li class="item">(-д-；)</li>
                                                    <li class="item">（＾ε＾）</li>
                                                    <li class="item">(`_ゝ´)</li>
                                                    <li class="item">（＞△＜）</li>
                                                    <li class="item">m(_ _)m</li>
                                                    <li class="item">┌(^q^ ┐)┐</li>
                                                    <li class="item">_(:з」∠)_</li>
                                                </ul>
                                            </div>
                                            {#                                            <div class="tab-controls">#}
                                            {#                                            <span class="tab-ctr">#}
                                            {#                                                <img width="30" height="30"#}
                                            {#                                                     src="https://sf3-ttcdn-tos.pstatp.com/obj/ttfe/bcy/emoji/huhu/cover_3x.png"></span>#}
                                            {#                                                <span class="tab-ctr active">#}
                                            {#                                                    <img width="65" height="40" src="https://sf1-ttcdn-tos.pstatp.com/obj/ttfe/bcy/emoji/faceicon.png">#}
                                            {#                                                </span>#}
                                            {#                                            </div>#}
                                            {#                                        </div>#}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% else %}
                        {#未登录的提示#}
                        <div class="cm_panel">
                            <p class="txt">使用
                                <a href="#" target="_blank">weibo</a>、
                                <a href="#">github</a>、
                                <a href="#">qq</a>、<a href="{{ url_for('auth.signin') }}">喵账户</a>登录评论
                            </p>
                            <p class="close"><a href="#" class="">X</a></p>
                        </div>
                    {% endif %}

                    </div>
                </form>
            </div>
            <div>
                <span class="comment_count">{{ count }}</span>评论
                <div class="comment_list">
                    {% if comments %}

                        {% for comment in comments %}
                            <div class="comment" id="{{ comment.comment_id }}">
                                <div class="comment_main ">
                                    <div class="comment_left">
                                        <div class="comment_avatar">
                                            <img src="{{ url_for('static',filename='static/images/myself.jpg') }}">
                                        </div>
                                    </div>
                                    <div class="comment_right">
                                        <div class="comment_meta">
                                            <a class="comment_author" href="#" target="_blank" rel="nofollow">{{ comment.username }}</a>
                                            <span class="comment_date">{{ comment.comment_timestamp }}</span>
                                        </div>
                                        <div class="comment_content">
                                            <p>{{ comment.comment_body }}</p>

                                        </div>
                                        <div class="comment_reply">
                                            <a href="#commentContainer" class="reply-btn" data-reply-to="1"
                                               data-reply-id="7d715c8f71903207faaf7831e096ecf5">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        No comments
                    {% endif %}
            </div>

            <div class="comment_list">
                <div class="comment" id="comment-1">
                    <div class="comment_main ">
                        <div class="comment_left">
                            <div class="comment_avatar">
                                <img src="{{ url_for('static',filename='static/images/myself.jpg') }}">
                            </div>
                        </div>
                        <div class="comment_right">
                            <div class="comment_meta">
                                <a class="comment_author" href="#" target="_blank" rel="nofollow">user1</a>
                                <span class="comment_date">2020-01-04 12:33</span>
                            </div>
                            <div class="comment_content">
                                <p>一直觉得你写代码简直可惜了</p>

                            </div>
                            <div class="comment_reply">
                                <a href="#commentContainer" class="reply-btn" data-reply-to="1"
                                   data-reply-id="7d715c8f71903207faaf7831e096ecf5">回复</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment" id="comment-1-1">
                        <div class="comment_main">
                            <div class="comment_left">
                                <div class="comment_avatar">
                                    <img src="{{ url_for('static',filename='static/images/myself.jpg') }}">
                                </div>
                            </div>
                            <div class="comment_right">
                                <div class="comment_meta">
                                    <a class="comment_author" href="#" target="_blank" rel="nofollow">onlyindex</a>
                                    <span class="comment_reply_to">@user1</span>
                                    <span class="comment_date">2020-01-11 10:49</span>
                                </div>
                                <div class="comment_content">
                                    <p>不写代码会饿死的</p>
                                </div>
                                <div class="comment_reply">
                                    <a href="#commentContainer" class="reply-btn" data-reply-to="1-1"
                                       data-reply-id="8f8195c9c36d6c98e8bcade3e3ac69fe">回复</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        </div>


    </article>
{% endblock %}