{% extends "base.html" %}
{% block title %}文集{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        .catalog_img {
            height: 200px;
            width: 150px;
        }

        span.catalog_total {
            color: #eee;
            top: -180px;
            left: -40px;
            position: relative;
            background-color: #22222233;
            padding: 1px;
            width: 20px;
            margin: 12px;
            display: inline-block;
            text-align: center;
            border-radius: 3px;
            font-size: 12px;
        }

        li {
            list-style-type: none;
        }


        li.catalog_info {
            float: left;
            margin-left: 10px;
            padding: 20px;
        }

        .post_item_catalog {
            margin-right: 16px !important;
            margin-left: 0 !important;
        }

        .catalog_color {
            position: relative;
            top: 1px;
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #bbbbbb;
        }

        .catalog_name {
            font-size: 14px;
        }


    </style>
{% endblock %}

{% block page_content %}
    {% if catalogs %}
        <h2>文集</h2>
        <ul id="catalog_list">
            {% for catalog in catalogs %}
                <li class="catalog_info">
                    <img class="catalog_img"
                         src="{{ url_for('static',filename='static/images/catalog_img.jpg') }}">
                    <span class="catalog_total">{{ catalog.catalog_total }}</span>

                    <br>
                    <span class="post_item_catalog">
{#                        <span class="catalog_color"></span>#}
                        <span class="catalog_name">
                            <a href="{{ url_for('post.catalogs',catalog_name=catalog.catalog_name) }}">{{ catalog.catalog_name }}</a><br>
                        </span>
                    </span>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        No Catalog
    {% endif %}
{% endblock %}