{% extends "base.html" %}
{% block title %}{{ post[1] }}{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        #post_header_info {
            font-size: .75rem;
            line-height: 1.25rem;
            color: #939393;
            text-align: left;
            margin-left: 12px;
        }

        #post_header_info a {
            color: #4fa949
        }

        .post_content {
            font-size: 18px;
            line-height: 28px;
        }

        div#share_weibo {
            display: inline-block;
        }

        div#share_wechat {
            display: inline-block;
        }

        div#share {
            float: right;
            margin-right: 12px;
        }

        .tag_list {
            text-align: left;
            margin-left: 12px;
        }

        /*评论面板样式*/
        div#CommentPanel {
            margin-left: 12px;
            border: none;
        }


        a {
            text-decoration: none;
            color: #313131;
            outline: 0;
        }


        .cm_panel {
            border: 1px solid #f0f0f0;
            padding: 10px;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
        {#font-size: 1.5rem;#}{#line-height: 2.5rem;#} background-color: rgba(255, 255, 255, 0.65);
            vertical-align: baseline; /*设置对齐方式*/
            margin-top: 0.5rem; /*相对于字体大小 */
            /*输入框宽度 分web端和移动端*/
            max-width: 100%;
            margin-bottom: 10px;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            color: #808080;
        }


        .textarea {
            width: 100%;
            min-height: 8.75em;
            font-size: .875em;
            background: transparent;
            resize: vertical;
            -webkit-transition: all .25s ease;
            transition: all .25s ease;
        }

        .comment_list ul {
            list-style-type: none;
        }

        .comment .comment_head .comment_user {
            font-weight: 600;
            line-height: 2;
        }

        .comment .comment_head .comment_user img {
            display: inline-block;
            vertical-align: top;
            width: 2em;
            height: 2em;
            border-radius: 9em;
            margin-right: .2em;
            margin-left: -2.4em;
        }

        .comment_count {
            font-weight: 600;
            font-size: 1.25em;
        }

        .submit_btn {
            border: 1px solid #ededed;
            border-radius: .3em;
            display: inline-block;
            background: #ededed;
            padding: .5em 1.25em;
            float: right;
            margin: -10px auto;
        }

        {##}
        {#.smile_btn {#}
        {#    background: 0 0;#}
        {#    border: 0;#}
        {#    line-height: 2;#}
        {#    padding: 0 .5em;#}
        {#    pointer-events: auto;#}
        {#    cursor: pointer;#}
        {#    -webkit-tap-highlight-color: transparent;#}


        .WB_feed_repeat .WB_repeat {
            width: 100%;
            /* margin: -1px 0 0; */
            padding: 16px 0 6px;
            border-top-width: 1px;
            border-top-style: solid;
        }


        .W_tips {
            text-align: center;
        }


        i {
            font-style: normal;
            font-weight: normal;
        }


        a:hover, a:active {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        a:hover {
            text-decoration: none;
        }

        .W_tips .close {
            margin: 2px 0 0 10px;
            *margin-top: -16px;
            float: right;
        }

        .W_tips .txt {
            display: inline;
            line-height: 18px;
            text-align: left;
        }

        .S_ficon {
            color: #6582ab;
        }

        .W_ficon {
            font-family: "wbficonregular" !important;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
        }

        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }


        .WB_publish .p_input {
            margin: 0 0 10px;
        }

        {#输入框样式#}
        .WB_publish .p_input .W_input {
            width: 92%;
            height: 23px;
            margin: 0px;
            padding: 5px 2px 0px 6px;
            border-style: solid;
            border-width: 1px;
            font-size: 12px;
            overflow-wrap: break-word;
            line-height: 18px;
            overflow: hidden;
            outline: none;
            border-color: #cccccc;
            color: #919191;
            text-decoration: none;
        }

        .W_btn_a {
            background: #ff8140;
            border: 1px solid #f77c3d;
            color: #fff;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
            padding: 0 10px 0 10px;
            white-space: nowrap;
            display: inline-block;
            border-radius: 2px;
            height: 24px;
            line-height: 25px;
            *line-height: 24px;
            text-decoration: none;
            font-size: 12px;
            min-width: 40px;
            text-align: center;
            outline: none;
        }

        em {

            font-style: normal;
            font-weight: normal;
        }


        ul {
            list-style: none;
        }


        .WB_feed_publish {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .clearfix {
            display: block;
        }


        .S_line {
            border-color: #d9d9d9;
        }


        .list_li {
            padding: 5px 0 7px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }


        .list_box_in {
            margin-top: 8px;
            margin-bottom: 10px;
            padding: 0 12px;
            margin-left: 36px;
            background-color: rgba(0, 0, 0, 0.04);
        }

        {#头像设置#}
        .user_face img {
            width: 30px;
            height: 30px;
        }

        .user_face {
            position: relative;
            float: left;
            margin-right: 6px;
        }


        {#评论表情包#}
        .p_opt .opt .ico {
            float: left;
            margin: -4px 5px 0 0;
        }

        {#下划线样式#}
        .S_bg {
            background-color: rgba(0, 0, 0, 0.04);
        }

        {#回复处理#}

        .cm_handle {

        }

        {#评论时间#}

        .cm_time {
            color: #b3b3b3;
            color: #919191;
            text-decoration: none;
            font-size: .75em;
            margin-right: .875em;
            padding-right: 6px;
        }

        {#回复样式#}
        .cm_reply {
            font-size: .8125em;
            color: #ef2f11;
            cursor: pointer;
            float: right;
        }


    </style>
{% endblock %}
{% block sidebar %}
    <ul class="sidebar-links">
    <li>
        <div class="sidebar-group">
            <p class="sidebar-heading open"><span>作品集</span> <!----></p>
            <ul class="sidebar-group-items">
                <li><a href="/works/httpcode.html" class="sidebar-link">Http状态码系列T恤</a></li>
                <li><a href="/works/serverchan.html" class="sidebar-link">Server酱</a></li>
                <li><a href="/works/timetodo.html" class="active sidebar-link">TimeTodo</a></li>
                <li><a href="/works/h2bookreader.html" class="sidebar-link">H2 Book Reader</a></li>
                <li><a href="/works/bearcv.html" class="sidebar-link">冷熊简历</a></li>
            </ul>
        </div>
    </li>

{% endblock %}
{% block page_content %}
    <article class="post">
        <div class="post_header">
            <h1>{{ post[1] }}</h1>
            <div class="post_header_info" id="post_header_info">
                <div class="post_date">
                    {#{{ moment(post.post_timestamp).fromNow() }}#}
                    {# {{ post['post_timestamp'].strftime('%Y-%m-%d') }} #}
                    {{ post[3] }}

                </div>
                {#            <div>#}
                {#            <a style="color: #5a84b3" class="action" href="{{ url_for('post.update', post_id=post['post_id']) }}">编辑</a>#}
                {#            <a style="color: #5a84b3" class="action" href="{{ url_for('post.delete', post_id=post['post_id']) }}">删除</a>#}
                {#            </div>#}
                {#                <div id="share">#}
                {#                    分享到#}
                {#                    <div id="share_weibo">#}
                {#                        <a title="扫码分享到微信" href="#">#}
                {#                            <i src="#"></i>#}
                {#                            <span>微博</span>#}
                {#                        </a>#}
                {#                    </div>#}
                {#                    <div id="share_wechat">#}
                {#                        <a title="分享到微博" href="#">#}
                {#                            <i src="#"></i>#}
                {#                            <span>微信</span>#}
                {#                        </a>#}
                {#                    </div>#}
                {##}
                {#                </div>#}
            </div>
        </div>

        <div class="post_content">
            <div>
                {{ post[2] }}
                <h1 id="1">前言</h1>
                <p>因为班群里总是挺静的，所以想着要不放个机器人试试能不能活跃活跃气氛，然后就begin网上查阅资料试着建立个机器人。
                    <br></p>
                <h1 id="directory0400571130604497672">语言环境</h1>
                <blockquote>开发环境：Ubuntu16.04<br>
                    编程语言：Python2.7
                </blockquote>
                <h1 id="directory0400571130604497673">步骤</h1>
                <ul>
                    <li>第一步：首先安装python2.7语言</li>
                </ul>
                <p><code>sudo apt-get install python2.7</code><br>
            </div>
            <p>本文链接：<a href="http://www.eyrefree.org/2015/05/31/2015-05-31-WordPress-Notes/">http://www.eyrefree.org/2015/05/31/2015-05-31-WordPress-Notes/</a>
            </p>
            <p>如文中无特殊说明，本站均使用以下协议保护：<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/cn/" target="_blank"
                                       rel="noopener">署名-非商业性使用-禁止演绎</a></p>

        </div>
        {#        <div class="like">#}
        {#            <div class="author">#}
        {#                <a><img id="post_author" src="{{ url_for('static',filename='static/images/myself.jpg') }}"></a>#}
        {#            </div>#}
        {#            <button>like</button>#}
        {#        </div>#}


        {#        <div class="post_bottom">#}
        {#            <div class="tag_list">#}
        {#                {% for tag in tags %}#}
        {#                    <a class="tag">{{ tag[0] }}</a>#}
        {#                {% endfor %}#}
        {#            </div>#}
        {#        </div>#}

        <div class="post_comments">
            <form method="post"
                  action="{{ url_for('post.post_comment_add',post_id=post['post_id']) }}">
                {% if g.user %}
                    <div class="WB_feed_publish clearfix">
                        <div class="WB_face W_fl">
                            <a target="_blank" href="">
                                <img
                                        src="https://tvax4.sinaimg.cn/crop.0.0.960.960.50/88a66b96ly8g7ymas65crj20qo0qomz5.jpg?KID=imgbed,tva&amp;Expires=1576043955&amp;ssig=QYUz13c%2FoV"
                                        user_id="user_id">
                            </a>
                        </div>
                        <div class="WB_publish">
                            <div class="p_input">
                            <textarea class="W_input">

                            </textarea>
                            </div>
                            <div class="p_opt clearfix">
                                <div class="btn W_fr"><a href="#" class="W_btn_a"><em
                                        node-type="btnText">評論</em></a>
                                </div>
                                <div class="opt clearfix">
                                <span class="ico">
                                    <a href="#" title="表情" alt="表情">
                                        <i class="W_ficon ficon_face">😺</i>
                                    </a>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cm_user">
                        <div class="cm_user_info">
                            {{ g.user['username'] }}<a href="#" action="toLogin">切换账号</a>
                        </div>
                    </div>
                    <div class="cm_commit">
                        <div class="cm_commit_body">
                                <textarea class="textarea" name="body" id="body" placeholder="灌水唠嗑" required>
                                </textarea>
                        </div>
                        <div class="cm_commit_submit">
                            <div class="cm_submit">
                                <button class="submit_btn" type="submit">凸(艹皿艹 )
                                </button>
                            </div>
                            {#                                <div class="cm_bar">#}
                            {#                                    <button class="smile_btn" type="smile" action="smile">表情</button>#}
                            {#                                </div>#}
                        </div>
                    </div>
                {% else %}
                    {#                            这里应该是复杂的通知#}
                    <div class="W_tips clearfix cm_panel">
                        <p class="txt">使用
                            <a href="#" target="_blank">weibo</a>、
                            <a href="#">github</a>、
                            <a href="#">qq</a>登录评论
                        </p>
                        <p class="close"><a href="#" class="W_ficon ficon_close S_ficon">X</a></p>
                    </div>
                {% endif %}
            </form>
            <span class="comment_count">{{ count }}</span>评论
            <ul class="comment_list">
                {% if comments %}

                    {% for comment in comments %}
                        <li id="{{ comment.comment_id }}">
                            <div class="cm">
                                <div class="cm_head">
                                                <span class="cm_user">
                                                    <img src="//api.mouto.org/avatar/b/34002.jpg">{{ comment.username }}</span>
                                </div>
                                <div class="cm_content">{{ comment.comment_body }}</div>
                                <div class="cm_handle">
                                    <span class="cm_time"> {{ comment.comment_timestamp }}</span>
                                    <span class="cm_reply">回复</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    No comments
                {% endif %}
            </ul>
            <div class="comment_list">
                <!-- 1级评论循环模块 -->
                <div class="comment">
                    <div class="main_cm_content">
                        <div comment_id="1" class="list_li S_line">
                            <div class="user_face">
                                <a target="_blank" href="#">
                                    <img src="https://tvax2.sinaimg.cn/crop.0.0.751.751.50/006qAKxIly8g5yev1xs6nj30kv0kvq5d.jpg?KID=imgbed,tva&amp;Expires=1576043957&amp;ssig=BcWeKBxRxv">
                                </a>
                            </div>
                            <div>
                                <div class="cm_content">
                                    <a href="#" user_id="122">葳蕤321</a>：
                                    评论只显示审批通过的，功能按钮只有回复。删除暂不考虑。
                                </div>
                                <div class="cm_handle">
                                    <span class="cm_time">2019-08-10</span>
                                    <span class="cm_reply">回复</span>
                                </div>
                            </div>

                            <!-- 二级评论循环模块 -->
                            <div class="list_box_in S_bg">
                                <div class="list_ul">
                                    <div comment_id="2" class="list_li S_line">
                                        <!-- 评论用户信息及评论内容 -->
                                        <div class="cm_content">
                                            <a href="#">onlyindex</a>
                                            <span style="font-size:0.6em;background-color: #7bc96f;color: #FFFFFF;padding: 2px;margin: 0 1px 0 1px;"
                                                  class="admin_name">Master</span>
                                            ：回覆<a href="#">@葳蕤321</a>:
                                            怎么叫都起不来，老迟到懒床。怎么叫都起不来，老迟到懒床。怎么叫都起不来，老迟到懒床。
                                        </div>
                                        <div class="cm_handle">
                                            <span class="cm_time">20分钟前</span>
                                            <span class="cm_reply">回复</span>
                                        </div>
                                    </div>
                                    <div comment_id="3" class="list_li S_line ">
                                        <!-- 评论用户信息及评论内容 -->
                                        <div class="cm_content">
                                            <a href="#" usercard="id=2292607894">onlyindex</a>
                                            <span style="font-size:0.6em;background-color: #7bc96f;color: #FFFFFF;padding: 2px;margin: 0 1px 0 1px;"
                                                  class="admin_name">Master</span>

                                            ：回覆<a
                                                href="#">@葳蕤321</a>:
                                            怎么叫都起不来，老迟到懒床。
                                        </div>
                                        <div class="cm_handle ">
                                            <span class="cm_time">25分钟前</span>
                                            <span class="cm_reply">回复</span>
                                        </div>
                                    </div>
                                    {#                                    <div class="more_child_cm">#}
                                    {#                                        <a href="#">共4条回复</a>#}
                                    {#                                    </div>#}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


    </article>




{% endblock %}


