{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block styles %}
    {{ super() }}
    <style>


        /*卡片样式*/


        :root {
            --square-size: 15px;
            --square-gap: 5px;
            --week-width: calc(var(--square-size) + var(--square-gap));
        }

        ul {
            list-style: none;
            margin: 0px;

        }

        li {
            margin: 0px;
            list-style-type: none;
            border-radius: 4px;
        }

        .graph {
            display: inline-grid;
            grid-template-areas: "empty months" "days squares";
            grid-template-columns: auto 1fr;
            grid-gap: 10px;
            padding: 12px;
        {#border: 1px #e1e4e8 solid;#} margin: 12px 0px 14px 0px;
            font-size: 12px;
            line-height: 1;
        }

        .months {
            grid-area: months;
        }

        .months {
            /*jan-dec*/
            display: grid;
            grid-template-columns: calc(var(--week-width) * 4) calc(var(--week-width) * 4) calc(var(--week-width) * 4) calc(var(--week-width) * 5) calc(var(--week-width) * 4) calc(var(--week-width) * 4) calc(var(--week-width) * 5) calc(var(--week-width) * 4) calc(var(--week-width) * 4) calc(var(--week-width) * 5) calc(var(--week-width) * 4) calc(var(--week-width) * 5);
        }

        .days, .squares {
            display: grid;
            grid-gap: var(--square-gap);
            grid-template-rows: repeat(7, var(--square-size));
        }

        .days {
            grid-area: days;
        }

        .squares {
            grid-area: squares;
        }

        .squares {
            grid-auto-flow: column;
            grid-auto-columns: var(--square-size);
        }

        .days li:nth-child(odd) {
            visibility: hidden;
        }

        .squares li {
            background-color: #ebedf0;
        }

        .squares li[data-level="1"] {
        {#
                    background-color: #c6e48b;
        #} background-color: #f09199a1;
        }

        .squares li[data-level="2"] {
        {#
                    background-color: #7bc96f;
        #} background-color: #f09199;
        }

        .squares li[data-level="3"] {
        {#
                    background-color: #196127;
        #} background-color: #f09199;
        }


        /*存档*/

        @media screen and (max-width: 720px) {
            /*移动端时间线整体效果调整*/
        }


        h3 {
            margin: 2.75rem 0 1.25rem;
            font-size: 16px;
            font-weight: 400;
        }
        


        .page_content a {
            text-decoration: none;
        }

        {#文章样式#}
        * {
            border: 0;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .post_list {
            width: 100%;
            margin: 1.5rem 0 2.5rem;
            flex: 1;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .post_item {
            list-style: none;
            padding: 0;
            width: 100%;
            margin: .875rem 0;
            position: relative;
            padding-left: 125px;
        }

        .post_item_time {
            font-size: 12px;
            color: #999;

        }

        .post_item_title {
            font-size: 16px;

        }


    </style>
{% endblock %}


{% block page_content %}
    <div class="graph">
        <ul class="months">
            <li>Jan</li>
            <li>Feb</li>
            <li>Mar</li>
            <li>Apr</li>
            <li>May</li>
            <li>Jun</li>
            <li>Jul</li>
            <li>Aug</li>
            <li>Sep</li>
            <li>Oct</li>
            <li>Nov</li>
            <li>Dec</li>
        </ul>
        <ul class="days">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
        </ul>
        <ul class="squares">
            <script>
                // Add squares
                const squares = document.querySelector('.squares');
                for (let i = 1; i < 100; i++) {
                    const level = Math.floor(Math.random() * 3);
                    squares.insertAdjacentHTML('beforeend', `<li data-level="${level}"></li>`);
                }
            </script>
        </ul>

    </div>


    <section class="post">
        <h2>Post</h2>
        <div class="post_group">
            {% if group_by_key %}
                {% for key,group in group_by_key.items() %}
                    <h3>{{ key }}</h3>
                    <ul class="post_list group">
                        {% for post in group %}
                            <li class="post_item">
                                <span class="post_item_title">
                                    <a href="{{ url_for('post.post',post_id=post.post_id) }}">
                                        {{ post.post_title }}</a>
                                </span>
                                <div>
                                    <time class="post_item_time">{{ post.post_timestamp }}</time>
                                </div>


                            </li>
                        {% endfor %}
                    </ul>

                {% endfor %}
            {% endif %}

        </div>
        <div class="pagination no-margin-bottom"><p class="clearfix"></p>
            <p> 第 1 页 / 共 3 页 &nbsp;</p>
            <p>
                <span class="pre pagbuttons">
                    <i class="fa fa-angle-double-left"></i>&nbsp;<a role="navigation" href="/">上一页</a>
                </span>
                <span>&nbsp;</span>
                <span
                    class="next pagbuttons">
                    <a role="navigation" href="/categories/lab/page/2/">下一页</a>&nbsp;<i
                    class="fa fa-angle-double-right"></i></span>
            </p>
            <p></p>
        </div>
    </section>
{% endblock %}