{% extends "base.html" %}
{% block title %}日志详情{% endblock %}
{% block page_content %}
<article class="post">
<div class="post_header">
    <h1>{{ post['post_title'] }}</h1>
    <div class="post_info" id="post_info">
        <div class="post_author">
            <a href="{{ url_for('user.my_profile')}}">
            {{ post.username }}
            </a>
        </div>
        <div class="post_date">
              {#{{ moment(post.post_timestamp).fromNow() }}#}
              {# {{ post['post_timestamp'].strftime('%Y-%m-%d') }} #}
                            {{ post['post_timestamp'] }}

        </div>
            <div>
            <a style="color: #5a84b3" class="action" href="{{ url_for('post.update', post_id=post['post_id']) }}">编辑</a>
            <a style="color: #5a84b3" class="action" href="{{ url_for('post.delete', post_id=post['post_id']) }}">删除</a>
            </div>
    </div>
</div>

<div class="body">{{ post['post_body'] }}</div>
<div class="like">
    <div class="author">
            小头像
    </div>
    <button>like</button>
    </div>
    <div class="tag"><a>ta1</a> tag2 ta3</div>
<div class="post_bottom">
    <div class="comment_count"></div>
    <div id="share">
            分享到
            <div id="share_weibo">
                <a title="扫码分享到微信" href="#">
                    <i src="#"></i>
                    <span>微博</span>
                </a>
            </div>
            <div id="share_wechat">
                <a title="分享到微博" href="#">
                    <i src="#"></i>
                    <span>微信</span>
                </a>
            </div>

        </div>
    </div>

</div>
</article>
<div id="message">
    <div id="CommentForm">
        <form  method="post" action="{{ url_for('post.post_comment_add',post_id=post.post_id) }}">
            <input name="username" id="username" placeholder="用户名" required>
            <textarea name="body" id="body" placeholder="吐了个草" required></textarea>
            <button type="submit">评论</button>
        </form>
    </div>
    <p id="Comments">

        {% for comment in comments %}
            <h5>{{ comment.username }}</h5>
            <p> {{ comment.comment_timestamp }}</p>
            <small>{{ comment.comment_body }}</small>
        {% endfor %}

    </div>
</div>

{% endblock %}


