{% extends 'base.html' %}
{% block title %}edit"{{post['title']}}"{% endblock %}

{% block page_content %}
  <form method="post">
    <input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
<form method="post">
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <textarea name="body" id="body" required>{{ request.form['body'] }}</textarea>
    <button type="submit">发布</button>
  </form>
  <hr>
  <form action="{{ url_for('post.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}