{% extends 'base.html' %}
{% block title %}个人资料{% endblock %}

{% block styles %}
    {{ super() }}
    <style>



    </style>
{% endblock %}
<script>


</script>
{% block page_content %}
    {{ super() }}
    <div id="ProfilePanel">
        <div id="Profile">
            <!--href='超链接' src='访问服务器资源'-->
            <div id="user_avaster">
                <img id="profile_img" src="{{ url_for('static',filename='static/images/myself.jpg') }}">
            </div>
            <div id="user_name">
                <h2>
                    {{ user[0] }}
                    <a id="edit" href="{{ url_for('user.edit_my_profile') }}">编辑</a>
                </h2>
            </div>
            <div id="user_info">
                {{ user[1] }}<br>
                评论1 喜欢2
            </div>
        </div>








{% endblock %}









