<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--移动设备优先 屏幕缩放比例自适应-->
    <meta name="viewport"
          content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <!--收藏夹图标-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='static/images/favicon.png') }}">
    <title>{% block title %}dashboard{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css' ) }}"/>
    {% endblock %}
    <script type="text/javascript">
    </script>
</head>


<body>
<nav id="nav">

    <div id="nav_box">
    <div id="nav_menu_box" onmouseover="show('nav_content')" onmouseout="hide('nav_content')">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512" class="icon">
                <path fill="currentColor"
                      d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path>
            </svg>
        </div>
        <div id="nav_logo_box">
            <div id="nav_logo">
                <a href="{{ url_for('home') }}">
                    <img id="logo_img" src="{{ url_for('static',filename='static/images/logo_ex.png') }}"></a>
            </div>
        </div>


        <div id="nav_auth_box">
            {% if g.user %}
                <div id="nav_auth_success">
                    <a href="{{ url_for('user.my_profile',_external=True) }}"><img id="nav_img"
                                                                                   src="{{ url_for('static',filename='static/images/myself.jpg') }}"></a>
                    <a id="success_btn" href="{{ url_for('auth.signout') }}">退出</a>
                </div>
            {% else %}
                <div id="nav_auth">
                    <a id="in_btn" href="{{ url_for('auth.signin') }}">登录</a>
                    <a id="up_btn" href="{{ url_for('auth.signup') }}">注册</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
<main id="content">
    <div class="sidebar">
        <ul class="nav_links">
            <li class="nav_item">
                <a  href="{{ url_for('admin.dashboard') }}" class="nav-link">仪表盘</a>
            </li>
            <li class="nav_item">
                <a  href="{{ url_for('admin.manage_post' ) }}" class="nav-link router-link-exact-active router-link-active">日志</a>
            </li>
            <li class="nav_item">
                <a href="{{ url_for('admin.manage_comment' ) }}" class="nav-link">评论</a>
            </li>
            <li class="nav_item">
                <a href="#" class="nav-link">标签</a>
            </li>
            <li class="nav_item">
                <a href="#" class="nav-link">用户</a></li>
        </ul>

    </div>
    <div id="page_content">
             {% block page_content %}
            {% for message in get_flashed_messages(with_categories=True) %}
                <div class="flash alert alert-{{ message[0] }}" id="close" role="alert">
                    <button class="close" onclick="turnoff('close')">&times;</button>
                    {{ message[1] }}
                </div>
            {% endfor %}
        {% endblock %}

</div>
</main>
</div>
</body>
</html>