<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--移动设备优先 屏幕缩放比例自适应-->
    <meta name="viewport"
          content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <!--收藏夹图标-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='static/images/favicon.png') }}">
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css' ) }}"/>
    {% endblock %}

    {% block scripts %}
        <script src="//cdn.ckeditor.com/4.13.1/full/ckeditor.js"></script>


        {#                    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>#}
        {#        <script type="text/javascript">#}
        {#            CKEDITOR.replace('body', {#}
        {#                filebrowserUploadUrl: '/ckupload/',#}
        {#            });#}
        {#        </script>#}


    {% endblock %}
</head>


<body>
<div class="app">
    <div class="container">
        <header class="navbar">
            <div class="menu">
                {#                    onmouseover="show('sidebar')" onmouseout="hide('sidebar')"#}
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512"
                     class="icon">
                    <path fill="currentColor"
                          d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path>
                </svg>
            </div>
            <a href="{{ url_for('home') }}" class="logo iconpic">猫茶会</a>
            <div class="title">
                {% block title %}模板{% endblock %}
            </div>
            <div class="links">
                <div class="search-box">
                    <input aria-label="Search" autocomplete="off" spellcheck="false" value=" ">
                </div>
                <div class="dropdown">
                    <button class="dropbtn">➕</button>
                    <div class="dropdown-content">
                        <a class="add_action" href="{{ url_for('admin.new_post') }}">添加日志</a>
                        <a class="add_action" href="{{ url_for('admin.new_catalog') }}">添加分类</a>
                    </div>
                </div>
            </div>
        </header>
        <aside class="sidebar sidebar_active ">
            <div class="sidebar_inner">
                {% block sidebar %}
                    <div class="nav_auth">
                        {% if g.user %}
                            <div class="nav_auth_success">
                                <a href="{{ url_for('user.my_profile',_external=True) }}">
                                    <img class="nav_img"
                                         src="{{ url_for('static',filename='static/images/myself.jpg') }}">
                                </a>
                                <a class="success_btn" href="{{ url_for('auth.signout') }}">退出</a>
                            </div>
                        {% else %}
                            <div class="nav_auth_box">
                                <a class="btn" href="{{ url_for('auth.signin') }}">登录</a>
                                <a class="btn" href="{{ url_for('auth.signup') }}">注册</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="nav_links">

                        <div class="home">
                            <a href="{{ url_for('admin.dashboard') }}" class="nav_link">
                                <span class="nav_link_name icon_home">概览</span>
                            </a>
                        </div>
                        <div class="manage">
                            <a class="nav_link">
                                <span class="nav_link_name icon_manage">管理</span>
                            </a>
                            <div>
                                <div class="show_posts">
                                    <a href="{{ url_for('admin.manage_post' ) }}" class="nav_link_item">
                                        <span>文章</span>
                                    </a>
                                </div>
                                <div class="show_catalogs">
                                    <a class="nav_link_item selected " href="{{ url_for('admin.manage_catalog' ) }}">
                                        <span>文集</span>
                                    </a>
                                </div>

                                <div class="show_comments">
                                    <a href="{{ url_for('admin.manage_comment' ) }}" class="nav_link_item selected">
                                        <span>评论</span>
                                    </a>
                                </div>
                                <div class="show_readers">
                                    <a class="nav_link_item" href="#">
                                        <span>读者</span>
                                    </a>
                                </div>
                                <div class="show_medias">
                                    <a class="nav_link_item" href="#">
                                        <span>媒体</span>
                                    </a>
                                </div>


                            </div>

                        </div>
                        <div class="analysis">
                            <a class="nav_link">
                                <span class="nav_link_name icon_analysis">统计</span>
                            </a>
                            <div>
                                <div class="data_readers">
                                    <a class="nav_link_item" href="#">
                                        <span>文章</span>
                                    </a>
                                </div>
                                <div class="data_comments">
                                    <a class="nav_link_item" href="#">
                                        <span>评论</span>
                                    </a>
                                </div>
                                <div class="data_reader">
                                    <a class="nav_link_item" href="#">
                                        <span>读者</span>
                                    </a>
                                </div>
                                <div class="data_reward">
                                    <a class="nav_link_item" href="#">
                                        <span>打赏</span>
                                    </a>
                                </div>


                            </div>

                        </div>
                        <div class="theme">
                            <a href="#" class="nav_link">
                                <span class="nav_link_name icon_theme">主题</span>
                            </a>
                        </div>
                        <div class="setting">
                            <a href="#" class="nav_link">
                                <span class="nav_link_name icon_setting">设置</span>
                            </a>
                        </div>


                    </div>
                    <footer class="footer">

                        © 2019 Design ❤ Code by<a title="Powered by onlyindex">OnlyIndex</a>
                    </footer>

                {% endblock %}

            </div>

        </aside>
        <div class="page">
            <div class=" page_content">
                {% block page_content %}
                    {% for message in get_flashed_messages(with_categories=True) %}
                        <div class="flash alert alert-{{ message[0] }}" id="close" role="alert">
                            <a class="close" onclick="turnoff('close')">&times;</a>
                            {{ message[1] }}
                        </div>
                    {% endfor %}

                {% endblock %}
            </div>
        </div>
    </div>


</div>

</body>
</html>