{% extends 'base.html' %}
{% block title %}管理员登录{% endblock %}

{% block page_content %}
<div id="page_content">

<div id="SigninPanel">
<div id="SigninForm">
          <h4>管理员入口</h4>
  <form method="post" action="{{ url_for('admin.signin') }}">

          <input name="username" type="username" id="username" placeholder="Enter username" required><br>

          <input name="password" type="password" id="password" placeholder="Enter Password" required><br>

          <button type="submit">登录(ノ≧∇≦)ノ</button><br>
</form>
</div>
</div>
</div>

{% endblock %}