<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
            <div class="friends">
                <p class="title">Friends recommendations</p>
                <div class="card">
                    <div class="cardCol">
                        <div class="userAvatar"><img
                                src="https://res.cloudinary.com/prvnbist/image/upload/v1512744911/1_jwmd87.jpg" alt=""/>
                        </div>
                        <p class="userName">David</p><span>JOIN</span>
                        <p class="activity">Joined Mathematics class</p>
                    </div>
                    <div class="cardCol">
                        <div class="userAvatar"><img
                                src="https://res.cloudinary.com/prvnbist/image/upload/v1512744911/2_sujm9p.jpg" alt=""/>
                        </div>
                        <p class="userName">Alexander</p><span>JOIN</span>
                        <p class="activity">Created a chemistry final exam group</p>
                    </div>
                    <div class="cardCol">
                        <div class="userAvatar"><img
                                src="https://res.cloudinary.com/prvnbist/image/upload/v1512744912/3_om9a9v.jpg" alt=""/>
                        </div>
                        <p class="userName">Rajiv</p><span>JOIN</span>
                        <p class="activity">Joined Physics class</p>
                    </div>
                    <div class="cardCol">
                        <div class="userAvatar"><img
                                src="https://res.cloudinary.com/prvnbist/image/upload/v1512744911/4_neb0gp.jpg" alt=""/>
                        </div>
                        <p class="userName">Christian</p><span>JOIN</span>
                        <p class="activity">Created a personality development class</p>
                    </div>
                </div>
            </div>

</body>
</html>