{% extends "admin/ad_base.html" %}
{% block title %}comment{% endblock %}
{% block styles %}
    {{ super() }}
    <style>


        @media (max-width: 720px) {


        }


        .pagination {
            text-align: center;
            padding: 20px 0;
        }

        .pagination a {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: transparent;
            color: #222;
        {#border: 1px solid white;#} display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            font-weight: 200;
            margin: 4px;
            transition: all 0.2s linear;
        }

        .pagination a:hover, .pagination a.selected {
            color: #fff;
            background-color: #f09191;
            border-color: #f09191;
        }

        .cm_avatar img {
            width: 45px;
            height: 45px;
            margin: 0 5px;
            border-radius: 50%;
        }

        .cm_left {
            float: left;
        }

        .cm_right {
            float: right;
        }

        .cm_content {
            display: inline-flex;
        }

        .cm_body {
            font-size: 14px;
        }

        .cm_date {
            color: #999;
        }

        .cm_3 {
            font-size: 12px;
        }

        span.cm_right {
            padding-left: 12px;
        }

        .cm_1, .cm_2, .cm_3 {
            padding: 2px 0px 2px 0px;
        }

    </style>
{% endblock %}

{% block page_content %}



    {% if comments %}
        {% for comment in comments %}
            <div id="comment_id">
                <div class="cm_content">
                    <div class="cm_left">
                        <a href="http://bgm.tv/user/121569" class="cm_avatar">
                            <img src="{{ url_for('static',filename='static/images/myself.jpg') }}">
                        </a>
                    </div>
                    <div class="cm_right">
                        <div class="cm_1">
                            <a href="#">{{ comment.username }}</a>评论
                            <a href="#" id="{{ comment.post_id }}">{{ comment.post_title }}</a>
                        </div>
                        <div class="cm_2"><q class="cm_body">{{ comment.comment_body }}</q></div>
                        <div class="cm_3">
                            <span class="cm_date cm_left">{{ comment.comment_timestamp }}</span>
                            <span class="cm_right">回复</span>
                            <span class="cm_right">删除</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        No comments
    {% endif %}
    <a href="#">more comments</a>
{% endblock %}