{% extends "admin/ad_base.html" %}
{% block title %}dashboard{% endblock %}
{% block styles %}
    {{ super() }}
    <style>


        /*管理员数据统计*/

        #dashboard_widgets {
            margin: 0.5em;
        }

        .postbox {
            min-width: 255px;
        {#border: 1px solid #e5e5e5;#}{#background: #fff;#} margin: 1em;

        }


        .inside_content {
            padding: 0 12px 12px;
        }

        .drafts {
            border-top: 1px solid #eee;
            padding: 12px 0 0;
        }

        .draft_title {
            font-size: 16px;
        }

        time {
            font-size: 12px;
            color: #8590a6;
        }

        .drafts p {
            float: right;
            margin-right: 20px;
        }

        h2, h3, ul {
            margin-left: 12px;
            font-size: 18px;
            color: #222;
        }

        .more_comment li {
            display: inline-block;
            white-space: nowrap;
        }

        .draft_button {
        {#border-radius: 0.5rem; */#}
            border: 0.1rem solid #F09199;
            /* font-size: 1.5rem; */
            /* margin: 0.5rem 0; */
            padding: 0 12px;
            background: #f09191;
            color: #FFF;
            cursor: pointer;
            /* width: 100%; */
            /* line-height: 2.5rem; */
            border-radius: 3px;
            display: inline-block;
            font-size: 16px;
        }


    </style>
{% endblock %}

{% block page_content %}
    <div id="dashboard_widgets">
        <h2>仪表盘</h2>
        <div id="dashboard_quick_press" class="postbox">
            <h2 class="topic">草稿</h2>
            <div class="inside">
                <form class="inside_content" method="post" action="{{ url_for('admin.new_post') }}">
                    <textarea class="textarea" name="body" id="body" placeholder="马克想法、文章、心情...."
                              required></textarea><br>
                    <button class="draft_button">保存</button>
                </form>
            </div>
            <div class="drafts">
                <h2>最近草稿</h2>
                <ul>
                    <li>
                        <div class="draft_title">
                            <a href="#">草稿1</a>
                            <time>2019年5月30日</time>
                        </div>
                    </li>
                    <li>
                        <div class="draft_title">
                            <a href="#">草稿2</a>
                            <time>2019年5月29日</time>
                        </div>
                    </li>
                    <li>
                        <div class="draft_title">
                            <a href="#">草稿最多显示3个</a>
                            <time>2019年5月13日</time>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="dashboard_activity" class="postbox ">
            <div class="inside">
                <div id="inside_content">
                    <div id="latest_posts" class="activity_block">
                        <h3>近期日志</h3>
                        <ul>
                            <li>
                                <div class="post_title">
                                    <a href="#">最新日志1</a>
                                    <time>2019年5月30日</time>
                                </div>
                            </li>
                            <li>
                                <div class="post_title">
                                    <a href="#">最新日志2</a>
                                    <time>2019年5月29日</time>
                                </div>
                            </li>
                            <li>
                                <div class="post_title">
                                    <a href="#">最新日志最多显示6个</a>
                                    <time>2019年5月13日</time>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="latest_comments" class="activity-block">
                        <h3>近期评论</h3>
                        <ul>
                            <li class="comment-item hide">
                                <div class="dashboard-comment-wrap has-row-actions">
                                    <p>
                                        <a href="#" class="reader">用户1</a>
                                        评论<a href="#">日志1</a>
                                        <span class="hide">[显示]</span>
                                    </p>
                                    <blockquote><p>评论内容1</p></blockquote>
                                </div>
                            </li>

                            <li class="comment-item hide">
                                <div class="dashboard-comment-wrap has-row-actions">
                                    <p>
                                        <a href="#" class="reader">用户1</a>
                                        评论<a href="#">日志1</a>
                                        <span class="hide">[显示]</span>
                                    </p>
                                    <blockquote><p>评论内容2</p></blockquote>
                                </div>
                            </li>

                            <li class="comment-item hide">
                                <div class="dashboard-comment-wrap has-row-actions">
                                    <p>
                                        <a href="#" class="reader">用户1</a>
                                        评论<a href="#">日志2</a>
                                        <span class="hide">[显示]</span>
                                    </p>
                                    <blockquote><p>评论内容3</p></blockquote>
                                </div>
                            </li>

                            <li class="comment-item hide">
                                <div class="dashboard-comment-wrap has-row-actions">
                                    <p>
                                        <a href="#" class="reader">用户1</a>
                                        评论<a href="#">日志2</a>
                                        <span class="hide">[显示]</span>
                                    </p>
                                    <blockquote><p>评论内容2</p></blockquote>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
