{% extends "admin/ad_base.html" %}
{% block title %}post{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        form {
            max-width: 120px;
        }

        span.post_status {
        {#font-size: 12px;#}{#color: #fff;#}{#background-color: #f09199;#}{#border: none;#}{#padding: 3px 5px;#}{#-moz-border-radius: 5px;#}{#-webkit-border-radius: 5px;#}{#border-radius: 5px;#}

        }

        h2 {
            color: #222;
        }

        a.post_title {
            color: #222;
        }

        .post_status
        {
            color: white;
            background-color: #222;
            border-radius: 16px;
            padding: 0px 5px 0px 5px;
        }

        .catalog_color {
            position: relative;
            top: 0px;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #aaa;
        }

        .catalog_name {
            font-size: 12px;
        }

        .post_item_tag {
            font-size: 12px;
            color: #555;
            /* border: 1px solid #f09199 !important; */
            padding: 2px;
            margin-right: 6px;
            white-space: nowrap;
            border-radius: 5px;
            background-color: #eee;
        }

        .post_item_post {
            border-bottom: 1px solid #eaecef;
        }

        .delete_post_danger {
            font-size: 16px;
            color: red;
        }

        .post_item_time {

            float: right;
            font-size: 12px;
            color: #a0a0a0;
        }


        button.add_action {
            color: #fff;
            float: right;
        }



    </style>
{% endblock %}

{% block page_content %}
    <div>
        {% if posts %}

            {% for post in posts %}
                <div class="post_item_post">
                    <div class="post_item_title_status">
                        <a class="post_title" href="#">{{ post.post_title }}</a>
                        <span class="post_status">{{ post.post_status }}</span>
                    </div>
                    <div class="post_item_tags">
                        <div class="post_item_tag_list">
                            <a class="post_item_tag">
                                # blog
                            </a>
                            <a class="post_item_tag">
                                #about me
                            </a>
                            <a class="post_item_tag">
                                # swiftUI
                            </a>
                        </div>
                    </div>
                    <div class="post_item_catalog">
                        <span class="catalog_color"></span>
                        <span class="catalog_name">{{ post.catalog_name }}</span>
                    </div>
                    <div>
                        <time class="post_item_time">{{ post.post_timestamp }}</time>
                        <div class="post_item_action">
                            <a id="edit_post" class="btn"
                               href="{{ url_for('admin.edit_post',post_id=post.post_id) }}">编辑</a>
                            <from method="post" action="{{ url_for('admin.del_post', post_id=post.post_id) }}">
                                <input class="delete_post_danger" type="submit" value="Delete"
                                       onclick="return confirm('Are you sure?');">
                            </from>
                            <a id="publish_post" class="btn"
                               href="{{ url_for('admin.renew_post',post_id=post.post_id) }}">发布</a>
                        </div>
                    </div>
                </div>












            {% endfor %}


            <table class="table_footer">
                <div class="pagination">
                    <a href="#">«</a>
                    <a href="#">‹</a>
                    <a href="#" class="selected">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">›</a>
                    <a href="#">»</a>
                </div>
            </table>
        {% else %}
            No posts
        {% endif %}
{% endblock %}