{% extends 'admin/ad_base.html' %}
{% block title %}New Post{% endblock %}
{% block page_content %}
    {{ super() }}
<div id="PostPanel">
<div id="PostForm">
  <form  method="post" action="{{ url_for('admin.new_post') }}">
    <input class="input" name="title" id="title" placeholder="标题" required><br>

    <textarea class="ckeditor"  name="body" id="body" placeholder="内容" required></textarea><br>
      <input class="input" type="text"  name="tags" placeholder="输入标签空格分隔"><br>
      <select name="collection_id" id="collection_id" >
              {% if collections %}
                  {% for collection in collections %}
                            <option value="{{ collection.collecion_id }} "> {{ collection.collection_name }} </option>
                  {% endfor %}
              {% endif %}
      </select>
      <select name="status" id="status">
          <option value="draft">draft</option>
          <option value="show">show</option>
      </select>
      <div class="select-area">
          <span class="select-value"></span>
          <select>
              <option>甘肃</option>
              <option>兰州</option>
          </select>


</div>
</div>
    <button class="button" type="submit">发布</button>

  </form>


 <script>
                CKEDITOR.replace('body');
                $(".select-area .select-value").each(function(){
                if( $(this).next("select").find("option:selected").length != 0 ){
                    $(this).text( $(this).next("select").find("option:selected").text() );
                }
            });
            $(".select-area select").change(function(){
                var value = $(this).find("option:selected").text();
                $(this).parent(".select-area").find(".select-value").text(value);
            });



        </script>

</div>
</div>
{% endblock %}

