<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--移动设备优先 屏幕缩放比例自适应-->
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <!--收藏夹图标-->
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='static/images/favicon.png')}}">


    <title>{% block title %}catcafe_in{% endblock %}</title>
    {% block styles %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='styles/phone.css' ) }}" />
    {% endblock %}
    <script type="text/javascript">

    function show(obj){
				var div = document.getElementById(obj);
				div.style.display="block";
				page_content=document.getElementById('page_content');
				page_content.style.display="none";

/*当鼠标移上去判断 obj,隐藏page_content,展示 nav_content */
			}
	function hide(obj){
				var div = document.getElementById(obj);
				div.style.display="none";
				page_content=document.getElementById('page_content');
				page_content.style.display="block";

/*当鼠标移走判断 obj,展示page_content,隐藏 nav_content */

			}
function turnoff(obj){
	          document.getElementById(obj).style.display="none";
	          /*关闭 flash 提示消息*/
		}


</script>
</head>


<body>
<nav id="nav">
    <div id="nav_box">
        <div id="nav_logo_box">
            <div id="nav_logo">
                <a href="{{url_for('post.index')}}"><img id="img" src="{{url_for('static',filename='static/images/logo_ex.png')}}"></a>
            </div>
        </div>
        <div id="nav_menu_box" >
            <div id="nav_menu" onmouseover="show('nav_content')" onmouseout="hide('nav_content')">
                菜单
            </div>
        </div>
        <div id="nav_auth_box" >
                {% if g.user %}
                <div id="nav_auth_success">
                <a  href="{{ url_for('user.my_profile',_external=True) }}"><img id="img" src="{{url_for('static',filename='static/images/myself.jpg')}}"></a>
                <a id="success_btn" href="{{ url_for('auth.signout') }}">退出</a>
                </div>
                {% else %}
                 <div id="nav_auth">
                <a id="in_btn" href="{{ url_for('auth.signin') }}">登录</a>
                <a id="up_btn" href="{{ url_for('auth.signup') }}">注册</a>
                </div>
                {% endif %}
        </div>
    </div>
</nav>

<main id="content">
    <div id="nav_content">
        <div id="search_box">
            <form action="#" method="post" id="SearchForm">
                    <input id="search_text"  type="text" placeholder="你瞅啥(*^__^*) 嘻嘻……"
                           onkeydown="if (event.keyCode==20) {}"
                           onblur="if(this.value=='')value='你瞅啥(*^__^*) 嘻嘻……';"
                           onfocus="if(this.value=='你瞅啥2')value='';" />
                    <button type="submit" id="searchBtn"><img id="img" src="{{url_for('static',filename='static/images/search.png')}}"></button>
            </form>
        </div>

       <ul id="topic">
           <li>图work</li>
            <li>图<a href="{{url_for('post.index')}}">post</a></li>
           <li>图image</li>
           <li>图message</li>
       </ul>
        <ul id="tag_list">
            <li>tag1</li>
            <li>tag2</li>
           <li>tag2</li>
           <li>tag3</li>
        </ul>
</div>
    {% block page_content %}
    <div id="page_content">
        {% for message in get_flashed_messages(with_categories=True) %}
        <div class="flash alert alert-{{message[0]}}" id="close" role="alert">
            <button class="close" onclick="turnoff('close')" >&times;</button>
            {{ message[1] }}
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</main>


<footer id="footer">© 2019 Design ❤ Code by
    <a href="http://catcafe.in" title="Powered by onlyindex"> Only Index</a> /
    <a href="https://github.com/onlyindex" title="Fork me on GitHub">GitHub</a> /
    <a href="http://weibo.cn/531990906" title="Follow me on Weibo">Weibo</a><br>
    仰望星空脚踏实地 js 动画从左到右控制
</footer>




</body>
</html>