<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--移动设备优先 屏幕缩放比例自适应-->
    <meta name="viewport"
          content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <!--收藏夹图标-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='static/images/favicon.png') }}">
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/phone.css' ) }}"/>
    {% endblock %}
    {% block scripts %}
        <script type="text/javascript">

            function show(obj) {
                var div = document.getElementById(obj);
                div.style.display = "block";
                page_content = document.getElementById('sidebar');
                page_content.style.display = "none";

            }

            function hide(obj) {
                var div = document.getElementById(obj);
                div.style.display = "none";
                page_content = document.getElementById('sidebar');
                page_content.style.display = "block";


            }

            function turnoff(obj) {
                document.getElementById(obj).style.display = "none";
                /*关闭 flash 提示消息*/
            }
        </script>
    {% endblock %}

</head>


<body>

<div class="app">
    <div class="container">
        <header class="navbar">
            <div class="menu">
                {#                    onmouseover="show('sidebar')" onmouseout="hide('sidebar')"#}
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512"
                     class="icon">
                    <path fill="currentColor"
                          d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path>
                </svg>
            </div>
            <div href="{{ url_for('home') }}" class="logo iconpic"></div>

            <div class="title">
                {% block title %}CatCafe{% endblock %}
            </div>
            <div class="links">
                <div class="search-box">
                    <input aria-label="Search" autocomplete="off" spellcheck="false" value=""
                           class="">
                </div>
            </div>
        </header>
        <aside class="sidebar sidebar_active">
            <div class="sidebar_inner">
                {% block sidebar %}
                {% endblock %}

            </div>

        </aside>
        <div class="page">
            <div class=" page_content">
                {% block page_content %}
                    {% for message in get_flashed_messages(with_categories=True) %}
                        <div class="flash alert alert-{{ message[0] }}" id="close" role="alert">
                            <button class="close" onclick="turnoff('close')">&times;</button>
                            {{ message[1] }}
                        </div>
                    {% endfor %}

                {% endblock %}
            </div>
        </div>
    </div>


</div>


</body>
</html>