{% extends 'base.html' %}
{% block title %}catcafe.in{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        .page {
            padding: 0px;

        }

        .sidebar {
            display: none;
        }

        @media (max-width: 720px) {
            .mycard {
                position: relative;
            top: 50%; /*偏移*/
            margin-top: 0rem;
                        {#margin-bottom: 100px;#}


                width: 100%;
            }

        }


        .mycard {
            position: relative;
            top: 50%; /*偏移*/
            margin-top: 20rem;
        {#margin-bottom: 100px;#}
        {#    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);#} background-color: #ddd;
            background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
        }


        .mycard .nav {
            color: #bbb;
        }

        .mycard .nav .item {
            display: inline-block;
        }

        .mycard .nav .item a {
            font-size: 14px;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            color: #000;
            transition-duration: 0.5s;
            transition-propety: background-color;
        }

        a.icon {
            background: none;
        }

        a {
            color: #c9cacc;
            text-decoration: none;
        }

        code {
            background-color: #222;
            color: white;
            padding: 2px 4px;
            border-radius: 3px;
            font-size: 12px;
            margin: 0 5px;
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15), 1px 1px 8px rgba(0, 0, 0, 0.15);
        }


        i {
            background-color: #fa4b8b;
            color: #fff;
            border-radius: 2px;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
        }


        {#.normal {#}
        {#display: inline-block;#}{#vertical-align: top;#}
        {#    background: url("../static/images/like.png") no-repeat 0 0/20px;#}
        {#    width: 20px;#}
        {#    height: 20px;#}
        {#    margin-right: 4px;#}

        .active {
            display: inline-block;
            vertical-align: top;

            background: url("../static/images/like_activate.png") no-repeat 0 0/20px;
            width: 20px;
            height: 20px;
        {#margin-right: 4px;#}
        }

    </style>

{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
{% block page_content %}
    {{ super() }}
    <div class="mycard text-center">
        <div class="site_author">
            <img class="author_image" alt="Onlyindex"
                 src="{{ url_for('static',filename='static/images/myself.jpg') }}">
            <sup>野良喵</sup>
            <p><a class="author_name" href="/me">OnlyIndex</a></p>
            <code> 自由散漫/脑洞狠黑/废柴呆萌宅/人形图书馆</code>
            <div class="author_description">不会代码&占星の设计师不是好产品喵ฅTㅅTฅ</div>
        </div>

        {#  <hr>#}


        <ul class="text-center nav">

            <li class="item">

                <a href="/post">Blog</a>

                <span>|</span>
            </li>
            <li class="item">

                <a href="https://github.com/onlyindex">Github</a>

                <span>|</span>
            </li>

            <li class="item">

                <a href="https://i.ui.cn/ucenter/93339">Behance</a>

                <span>|</span>
            </li>
            <li class="item">

                <a href="#">Pivix</a>

                <span>|</span>
            </li>
            <li class="item">

                <a href="https://leetcode.com/onlyindex/">LeetCode</a>

                <span>|</span>
            </li>
            <li class="item">

                <a href="#">Weibo</a>

                <span>|</span>
            </li>

            <li class="item">

                <a href="https://www.zhihu.com/people/BearRobot">Zhihu</a>

                <span>|</span>
            </li>
            <li class="item">

                <a href="https://www.jianshu.com/u/10bd21526a98">Jianshu</a>
            </li>

        </ul>
        {#        <a class="icon" target="_blank" rel="noopener" href="https://github.com/Sunnyyoung">#}
        {#            <i class="fab fa-github"></i><!--#}
        {#      ---></a>#}
        <div class="like_me ">
            <i class="active"></i>182
        </div>

    </div>
{% endblock %}