{% extends 'base.html' %}
{% block title %}about_myself{% endblock %}

{% block page_content %}

<div id="about_user">
    {% if user.username or user.location %}

    {% if user.username %}
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    {{ user.username }}
    {% endif %}

    {% if user.location %}
    From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
    {% endif %}

    {% endif %}

    {% if current_user.is_administrator() %}
    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
    {% endif %}

    {% if user.about_me %}
    <p>{{ user.about_me }}</p>
    {% endif %}

    <p>
        Member since {{ moment(user.member_since).format('L') }}.
        Last seen {{ moment(user.last_seen).fromNow() }}.
    </p>
    <!--其他用户对这个用户的弹幕评价-->
   <ul>
    {% for comment in comments %}
    <li>
        {{ comment }}
    </li>
    {% endfor %}
   </ul>
</div>
<!--用户资料编辑链接-->
{% if user == current_user %}
<a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
    Edit Profile </a>
{% endif %}



<!--管理员使用的资料编辑链接-->
{% if current_user.is_administrator() %}
<a class="btn btn-danger"
   href="{{ url_for('.edit_profile_admin', id=user.id) }}">
    Edit Profile [Admin]
</a>
{% endif %}

{% endblock %}

<a href="{{ url_for('.user', username=post.author.username) }}">








